<!DOCTYPE HTML>

<html>
	<head>
		<title>Donation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="stylesheet" href="./static/assets/css/extra.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo-python.ico') }}">
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html" id="logo">Support Priyanka to Fight Blood Cancer</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>     <!-- Total Estimate Treatment cost is 40Lakh so please support Priyanka to get healthy life -->
								<li class="current"><a href="index.html">Total Estimate Treatment Cost is 40 Lakh so please donate as much as you can to get Priyanka healthy life</a></li>
								<li>
									<!-- <a href="#">Dropdown</a>
									<ul>
										<li><a href="#">Lorem dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam sed tempus</a></li>
										<li>
											<a href="#">Submenu</a>
											<ul>
												<li><a href="#">Lorem dolor</a></li>
												<li><a href="#">Phasellus magna</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="two-sidebar.html">Two Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li>
							</ul>
						</nav> -->

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Your little help can save priyanka's life !<em> <a href=""></a></em></h2>
						<a class="button">Donate Below Now !</a>
					</header>
				</section>

			<!-- Payment Information -->
				<section class="wrapper style1">
					<div class="container1">
						<div class="row gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight">


									<h2 _ngcontent-ksm-c55="" class="newboxy">Donation Through Bank (NEFT/ RTGS)</h2>
                    				<div _ngcontent-ksm-c55="" 
                    				class="col-lg-4 col-md-4 col-xs-12 padd-2">
                    				<div _ngcontent-ksm-c55="" class="rightside">
                    				<h4 _ngcontent-ksm-c55="" class="newboxy boxyColor"><strong _ngcontent-ksm-c55="">Bank Name:</strong> ICICI Bank</h4>
                    				<h4 _ngcontent-ksm-c55="" class="newboxy boxyColor"><strong _ngcontent-ksm-c55="">Account Name:</strong> Prajakta Deshmane 
                    					<button  onclick="copyAccountname()">Copy</button>
										<br />
	
										<script>
											function copyAccountname() {
								
												/* Copy text into clipboard */
												navigator.clipboard.writeText
													("Prajakta Deshmane");

												alert("Account Name Copied: " + "Prajakta Deshmane");
										}
										</script>
                    				

                    				<h4 _ngcontent-ksm-c55="" class="newboxy boxyColor"><strong _ngcontent-ksm-c55="">Account Number:</strong> 00109some1138 
                    					<button onclick="copyAccountnumber()">Copy</button>
										<br />
	
										<script>
											function copyAccountnumber() {
								
												/* Copy text into clipboard */
												navigator.clipboard.writeText
													("something");

												alert("Account Number Copied: " + "something");
										}
										</script>
                    				

                    				<h4 _ngcontent-ksm-c55="" class="newboxy boxyColor"><strong _ngcontent-ksm-c55="">IFSC Code:</strong> YEsome010 
                    					<button onclick="copyIfsccode()">Copy</button>
										<br />
	
										<script>
											function copyIfsccode() {
								
												/* Copy text into clipboard */
												navigator.clipboard.writeText
													("something");

												alert("IFSC Code Copied: " + "something");
										}
										</script>
                    				

                    				<h4 _ngcontent-ksm-c55="" class="newboxy boxyColor"><strong _ngcontent-ksm-c55="">Swift Code:</strong> YEsomeNBB 
                    					<button onclick="copySwiftcode()">Copy</button>
										<br />
	
										<script>
											function copySwiftcode() {
								
												/* Copy text into clipboard */
												navigator.clipboard.writeText
													("something");

												alert("Swift Code Copied: " + "something");
										}
										</script>
                    				


                    				</div>


								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									
									<h2 _ngcontent-ksm-c55="" class="newboxy">Donate using Mobile Number</h2>
                        			<table _ngcontent-ksm-c55=""><tr _ngcontent-ksm-c55=""><td _ngcontent-ksm-c55="" 
                        			style="width: 70%; border: none;">
                        			<a _ngcontent-ksm-c55="" ><img _ngcontent-ksm-c55="" src="./static/images/UPI-apps.png" 
                        			class="img-responsive" style="display: inline-block; width: 35%; padding: 0 0 7px 7px;">
                        			<span _ngcontent-ksm-c55=""> (Prajakta Deshmane)</span>
                        			</a>
                        			<h5 _ngcontent-ksm-c55="" class="qrText">Mobile No: 8108449802 
                        			<button onclick="copyMobile()">Copy</button>
									<br />
	
									<script>
										function copyMobile() {
								
											/* Copy text into clipboard */
											navigator.clipboard.writeText
												("8108449802");

											alert("Mobile No Copied: " + "8108449802");
									}
									</script>
                        			
                        			</td>
                        			<td _ngcontent-ksm-c55="" style="width: 30%; border: none;">
                        			<img _ngcontent-ksm-c55="" src="./static/images/QR-prajakta.jpeg" 
                        			class="img-responsive" style="width: 100%; margin: auto;"></td></tr>
                        			</table>

								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									
									<h2 _ngcontent-ksm-c55="" class="newboxy">Donate through UPI</h2>
								<table _ngcontent-ksm-c55=""><tr _ngcontent-ksm-c55=""><td _ngcontent-ksm-c55="" style="width: 70%; border: none;">
								<img _ngcontent-ksm-c55="" src="./static/images/UPI_logo.png" class="img-responsive" style="display: inline-block; width: 35%; padding: 0 0 7px 7px;">
								<span _ngcontent-ksm-c55="" > (Prajakta Deshmane)</span>
								<h5 _ngcontent-ksm-c55="" class="qrText">UPI ID: <span _ngcontent-ksm-c55="" style="cursor: pointer; padding-right: 5px; display: inline; font-size: 12px !important;">deshmaneprajakta07-1@okicici</span>
								<button onclick="copyUpiid()">Copy UPI ID</button>
								<br />
	
								<script>
									function copyUpiid() {
								
										/* Copy text into clipboard */
										navigator.clipboard.writeText
											("deshmaneprajakta07-1@okicici");
										alert("UPI ID Copied: " + "deshmaneprajakta07-1@okicici");
									}
								</script>


<!-- 								<script>
									// When the user clicks on <div>, open the popup
									function myFunction() {
									  var popup = document.getElementById("myPopup");
									  popup.classList.toggle("show");
									}
								</script> -->

								<span _ngcontent-ksm-c55="" style="padding-top: 10px;">"Check your UPI limit with your bank". Max. Limit 1 lac per day</span><div _ngcontent-ksm-c55="" style="height: 20px;">
								</div>
								</h5>
								</td>
								<td _ngcontent-ksm-c55="" style="width: 30%; border: none;"><img _ngcontent-ksm-c55="" src="./static/images/QR-prajakta.jpeg" class="img-responsive" style="width: 100%; margin: auto;"></td>
								</tr>
								</table>

								</div>
							</section>
						</div>
					</div>
				</section>



			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<h3>Using QR-code on mobile: Step1</h3>
									<i class="icon solid major fa-paper-plane"></i>
									<p>If your visiting this website using mobile then, zoom to QR-code and take a screenshot.</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									
									<h3>Step2</h3>
									<i class="icon solid major fa-pencil-alt"></i>
									<p>Open your UPI payment app and go to scan QR-code option and import the screenshot from gallery.</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<h3>Step3</h3>
									<i class="icon solid major fa-wrench"></i>
									<p>Make a donation to Help !</p>
								</div>
							</section>
						</div>
					</div>
				</section>


			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">
							<h2>A gigantic heading you can use for whatever</h2>
							<p>With a much smaller subtitle hanging out just below it</p>
						</header>
					</div>
				</section>

			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a class="image left"><img src="./static/images/support.jpeg" alt="" /></a>
									<div class="inner">
										<h3>1</h3>
										<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a class="image left"><img src="./static/images/support2.jpg" alt="" /></a>
									<div class="inner">
										<h3>The Second Thing</h3>
										<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a class="image left"><img src="./static/images/support4.jpg" alt="" /></a>
									<div class="inner">
										<h3>It's not how much we give but how much love we put into giving.</h3>
										<p>Mother Teresa</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="./static/images/pic04.jpg" alt="" /></a>
									<div class="inner">
										<h3>The Fourth Thing</h3>
										<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>

				<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->

										<section>
											<h3>Campaigner Details:-</h3>
											<p>Name: Prajakta Deshmane</br>
											   Age:  24</br>
											   Contact: 8104889802</br>
											   Lives: Nerul, Navi Mumbai</br>
											</p>
											<footer>
												<!-- <a href="#" class="button">Continue Reading</a> -->
											</footer>
										</section>

										<section>
											<h3>Patient Details:-</h3>
											<ul class="links">
											<p>Name: Priyanka Deshmane</br>
											   Age:  21</br>
											   Suffering from: Blood Cancer</br>
											   Hospital: <a href="https://tmc.gov.in/index.php/en/">TATA Hospital, Parel</a></br>
											   Lives: Nerul, Navi Mumbai</br>
											</p>
											<footer>
												<!-- <a href="#" class="button">More Random Links</a> -->
											</footer>
										</section>




										<section>
											<h3>Supporting Documents:-</h3>
											<ul class="links">
											<p>Medical Certificate:
											    </br>
											   <span class="image featured"><img src="./static/images/medical-certificate.jpeg" alt="" /></span>
											   Cost Certificate:</br>
											   <span class="image featured"><img src="./static/images/cost-certificate.jpeg" alt="" /></span>
											   This cost estimation only include the 8 months of chemotherapy not the bone marrow transplant which will be nessary in mere futuer</br>
											</p>
											</ul>
											<footer>
												<!-- <a href="#" class="button">More Random Links</a> -->
											</footer>
										</section>

								</div>
							</div>
							<div class="col-8  col-12-narrower imp-narrower">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Story of Priyanka and her Family</h2>
												<p></p>
											</header>

											<span class="image featured"><img src="./static/images/banner.jpg" alt="" /></span>

											<p></p>

											<h3></h3>
											<p>It's with a hopeful heart that we're requesting you to donate for the treatment of Priyanka (Age-21) who is diagnosed with blood cancer (Acute Lymphoblastic leukemia). She is under treatement at Tata Memorial Hospital, Parel.
											Her family have been taking care of her and spent all they had. Doctors advised her for a longer treatment and may need the Bone Marrow Transplant which may cost upto 40-45 lakh rupees. we are running out of fund.</br></p>

											<p>Priyanka's father suffered brainstroke 2 years ago and still under recovery. Priyanka's sister is the only earner of the family and can barely afford living. As it goes without saying that they're financially bombed and the family is broken in and out. Cancer is very painfull for both patient and the family also the treatment is financially and mentally draining. </br></p>

											<p>Your small donation can tremendously help us for the treatment. I am strongly convinced that you will come to our aid and help Priyanka to get a healthy life again. She has already planned and dreamt of having a successful career as CMA but during this tough times she only hopes to be alive to make her dreams come true.s</p>
										</article>

								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Please fill up the below form so we can track the donations</h2>
							<!-- <a href="#" class="button">Insert Coin</a> -->
						</header>
					</div>
				</section>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
<!-- 							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Links to Stuff</h3>
								<ul class="links">
									<li><a href="#">Mattis et quis rutrum</a></li>
									<li><a href="#">Suspendisse amet varius</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum accumsan dolor</a></li>
									<li><a href="#">Mattis rutrum accumsan</a></li>
									<li><a href="#">Suspendisse varius nibh</a></li>
									<li><a href="#">Sed et dapibus mattis</a></li>
								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>More Links to Stuff</h3>
								<ul class="links">
									<li><a href="#">Duis neque nisi dapibus</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum accumsan sed</a></li>
									<li><a href="#">Mattis et sed accumsan</a></li>
									<li><a href="#">Duis neque nisi sed</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum amet varius</a></li>
								</ul>
							</section> -->
							<section class="col-6 col-12-narrower">
								<h3>Get In Touch</h3>
								<form>
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>

					<!-- Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; All Personal Images and contents rights reserved</li>
								<li>Website Customized and Hosted by: <a href="https://www.instagram.com/i.am.akash.more/">Akash More</a></li>

							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.dropotron.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>