<!DOCTYPE HTML>

<html>
	<head>
		<title>Donation for Priyanka</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo-python.ico') }}">
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html" id="logo">Support Priyanka to Fight Blood Cancer</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>     <!-- Total Estimate Treatment cost is 40Lakh so please support Priyanka to get healthy life -->
								<li class="current"><a href="index.html">He who wishes to secure the good of others, has already secured his own.</a></li>
								<li>
				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Your little help can save Priyanka's life!<em> <a href=""></a></em></h2>
						<h3>Total Estimated Treatment Cost is 40 Lakh, Please donate as much as you can for Priyanka's healthy life</h3>
						<a class="button">Donate Using Below!</a>
					</header>
				</section>


<!-- 					<div class="container">
						<header>
							<a href="indexm.html" class="button">मराठी</a>
						</header>
					</div> -->

			<!-- Payment Information -->
				<section class="wrapper style1">
					<div class="container">
						<!-- <h3>Prajakta Deshmane is Priyanka's Older sister, Please donate to her account using below methods</h3> -->
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a class="image left"><img src="./static/images/QR-prajakta1.jpeg" alt="" style="width: 115%;"/></a>
									<div class="inner">
										<h3>Donate through QR-Code and UPI ID</h3>
										<img src="./static/images/UPI_logo.png" style="display: inline-block; width: 35%; padding: 0 0 7px 7px;">
										<span > (Prajakta Deshmane)</span>
										<h4>UPI ID: <span style="cursor: pointer; display: inline;">deshmaneprajakta07-1@icici</span></h4>
<!-- 										<button onclick="copyUpiid()">Copy UPI ID</button>
										<br />
	
										<script>
											function copyUpiid() {
												navigator.clipboard.writeText
													("deshmaneprajakta07-1@okicici");
												alert("UPI ID Copied: " + "deshmaneprajakta07-1@okicici");
											}
										</script> -->

										<p>Scan QR-Code with any UPI App OR Copy above UPI ID and Paste in your UPI Payments App</p>
									</div>
								</div>
							</section>


							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a class="image left"><img src="./static/images/UPI-Apps2.svg" alt="" style="width: 110%;" /></a>
									<div class="inner">
										<h3> Donate using Mobile Number </h3>
										<!-- <img src="./static/images/UPI-apps.png" style="display: inline-block; width: 30%; padding: 0 0 7px 7px;"> -->
										<span > (Prajakta Deshmane)</span>
                        				</a>
                        				<h4>Mobile No: <span style="cursor: pointer"> 8104889802 </span></h4>
<!--                         				<button onclick="copyMobile()">Copy</button>
										<br />
										<script>
											function copyMobile() {
												navigator.clipboard.writeText
													("8104889802");

												alert("Mobile No Copied: " + "8104889802");
										}
										</script> -->
										<p>Copy above Mobile No and Paste in your UPI Payments App  <!-- OR  scan QR-code --></p>

									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<h3>Donation Through Bank (NEFT)</h3>
                    				<div _ngcontent-ksm-c55="" 
                    				class="col-lg-4 col-md-4 col-xs-12 padd-2">
                    				<div  class="rightside">
                    				<h4><strong>Bank Name:</strong><span style="cursor: pointer"> ICICI Bank </span></br>
                    					Account Name: <span style="cursor: pointer"> Prajakta Deshmane</span></br>
<!--                     					<button  onclick="copyAccountname()">Copy</button>
										<br />
										<script>
											function copyAccountname() {

												/* Copy text into clipboard */
												navigator.clipboard.writeText
													("Prajakta Deshmane");

												alert("Account Name Copied: " + "Prajakta Deshmane");

										}
										</script> -->

                    				<strong >Account Number:</strong><span style="cursor: pointer"> 188505001225</span></br>

<!--                     					<button onclick="copyAccountnumber()">Copy</button>
										<br />
	
										<script>
											function copyAccountnumber() {
												navigator.clipboard.writeText
													("something");

												alert("Account Number Copied: " + "something");
										}
										</script> -->
                    				

                    				<strong>IFSC Code:</strong><span style="cursor: pointer"> ICIC0001885</span></h4>
<!--                     					<button onclick="copyIfsccode()">Copy</button>
										<br />
	
										<script>
											function copyIfsccode() {
												navigator.clipboard.writeText
													("something");

												alert("IFSC Code Copied: " + "something");
										}
										</script> -->

									<!-- <p>Copy above Netbanking details</p> -->
                    		
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a class="image left"><!-- </br> --><img src="./static/images/support4.jpg" alt="" style="width: 110%;" /></a>
									<div class="inner">
										<h3><!-- </br> -->It's not how much we give but how much love we put into giving.</h3>
										<p>Mother Teresa</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
						<h3>Visiting website on mobile and want to donate using QR-code?</br>Please follow below steps:</h3>
						<div class="row gtr-200">
							
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<h3>Step1</h3>
									<!-- <i class="icon solid major fa-paper-plane"></i> -->
									<!-- <i class="icon solid major fa-pencil-alt"></i> -->
									<img src="./static/images/step1.jpg" style="width: 80%"></img>
									<p></br>Go to QR-code and take a screenshot of QR-code.</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									
									<h3>Step2</h3>
									<!-- <i class="icon solid major fa-pencil-alt"></i> -->
									<img src="./static/images/step2.jpg" style="width: 100%"></img>
									<p></br>Open your UPI payment app and go to scan QR-code option and select option upload/scan from gallery.</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<h3>Step3</h3>
									<!-- <i class="icon solid major fa-wrench"></i> -->
									<!-- <i class="icon solid major fa-pencil-alt"></i> -->
									<img src="./static/images/step3.jpg" style="width: 80%"></img>
									<p></br>Select the screenshot of QR-code and Make a donation to Help !</p>
								</div>
							</section>
						</div>
					</div>
				</section>


				<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-narrower">
								<div id="sidebar">


									<!-- Sidebar -->

										<section>
											<h3>Campaigner Details:-</h3>
											<p>Name: Prajakta Deshmane</br>
											   Age:  24</br>
											   Contact: 8104889802</br>
											   Relation: Priyanka's elder sister</br>
											   Lives: Nerul, Navi Mumbai</br>
											</p>
											<footer>
												<!-- <a href="#" class="button">Continue Reading</a> -->
											</footer>
										</section>

										<section>
											<h3>Patient Details:-</h3>
											<ul class="links">
											<p>Name: Priyanka Deshmane</br>
											   Age:  22</br>
											   Suffering from: Blood Cancer</br>
											   Hospital: <a href="https://tmc.gov.in/index.php/en/">TATA Hospital, Parel Mumbai</a></br>
											   Lives: Nerul, Navi Mumbai</br>
											</p>
											<footer>
												<!-- <a href="#" class="button">More Random Links</a> -->
											</footer>
										</section>

										<section>
											<h3>Medical Documents:-</h3>
											<ul class="links">
											<p>Medical Certificate:
											    </br>
											   <span class="image featured"><img src="./static/images/medical-certificate.jpeg" alt=""/></span>
											   Cost Certificate:</br>
											   <span class="image featured"><img src="./static/images/cost-certificate.jpeg" alt="" /></span>
											   This cost estimation only include the 8 months of chemotherapy not the bone marrow transplant which will be necessary in mere future</br>
											</p>
											</ul>
											<footer>
												<!-- <a href="#" class="button">More Random Links</a> -->
											</footer>
										</section>

								</div>
							</div>
							<div class="col-8  col-12-narrower imp-narrower">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Story<!--  of Priyanka and her Family --></h2>
												<p></p>
											</header>

											<span class="image featured"><img src="./static/images/story_image.png" alt="" style="width: 95%;" /></span>

											<p></p>

											<h3></h3>
											<p>It's with a hopeful heart that we're requesting you to donate for the treatment of Priyanka Deshmane (Age-22) who is diagnosed with blood cancer (Acute Lymphoblastic leukemia). She is under treatement at Tata Memorial Hospital, Parel.
											Her family have been taking care of her and spent all they had. Doctors advised her for a longer treatment and may need the Bone Marrow Transplant which may cost upto 40-45 lakh rupees. we are running out of fund.</br></p>

											<p>Priyanka's father suffered brainstroke 2 years ago and still under recovery. Priyanka's sister is the only earner of the family and can barely afford living. As it goes without saying that they're financially bombed and the family is broken in and out. Cancer is very painfull for both patient and the family also the treatment is financially and mentally draining. </br></p>

											<p>Your small donation can tremendously help us for the treatment. I am strongly convinced that you will come to our aid and help Priyanka to get a healthy life again. She has already planned and dreamt of having a successful career as CMA but during this tough times she only hopes to be alive to make her dreams come true.</p>

<!-- 											<p>आपली मैत्रीण प्रियांका देशमाने हि ब्लड कॅन्सर या भयंकर आजाराशी लढत आहे , हा रक्ताचा कॅन्सर असल्याने डॉक्टरांनीं तिला अस्थिमज्जा शस्त्रक्रिया करण्यास सांगितले असून त्याचा खर्च हा ४० लाख रुपयांपर्यंत अपेक्षित आहे 
											प्रियांकाच्या वडिलांना २ वर्षेपुर्वी अर्धांगवायू चा झटका आल्याने ते अजूनही त्यातून सावरत आहेत.  कुटुंबाचे सर्व उत्पन्न फक्त तिची मोठी बहीण प्राजक्ता ( वय २४) हिच्या वर अवलंबून असून सध्या कसे बसे घर चालते . 
											आपणांस आमची कळवळीची विनंती आहे कि आपण सगळ्यांनी पुढे येऊन हॉप्सिटलच्या खर्चासाठी थॊडी थोडी रक्कम दान करावी. आपल्या जवळच्या ५ व्यक्तींना हा संदेश पाठवून त्यांना देखील थोडी रक्कम दान करण्यासाठी प्रेरित करावे.
											</p> -->
										</article>

								</div>
							</div>
						</div>
					</div>
				</section>


			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Contact Details</h3>
									<h4>Phone:</h4>
								<h5>Akash: 	  +91 7021914547</br>
									Prajakta: +91 8104889802</br>
									Shubham:  +91 9324373068</h5>
							</section>
							<!-- <section class="col-3 col-6-narrower col-12-mobilep">
								<h3>More Links to Stuff</h3>
								<ul class="links">
									<li><a href="#">Duis neque nisi dapibus</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum accumsan sed</a></li>
									<li><a href="#">Mattis et sed accumsan</a></li>
									<li><a href="#">Duis neque nisi sed</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum amet varius</a></li>
								</ul>
							</section> -->
							<section class="col-6 col-12-narrower">
								<h3>Get In Touch with Message</h3>
								<form action="submit_form" method="post">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input name="name" type="text" name="name" id="name" placeholder="Your Name" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input name="phone" type="text" name="Phone" id="phone" placeholder="Your Phone No" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Write a message here" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>

					<!-- Icons -->
<!-- 						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						</ul> -->

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; All personal images and content are rights reserved</li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.dropotron.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>