<!DOCTYPE HTML>

<html>
	<head>
		<title>Donation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="stylesheet" href="./static/assets/css/extra.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo-python.ico') }}">
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

<h1>Thank you! We will get in touch with you, shortly!</h1>
	</body>
</html>











